<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291937214407-ilh0ilvjgqm8e8732hk0ug53npgh5tjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291937214407-ilh0ilvjgqm8e8732hk0ug53npgh5tjm</string>
	<key>API_KEY</key>
	<string>AIzaSyAV7ORDuUje8zrAZo7S3ksOU1FBh3OlzSU</string>
	<key>GCM_SENDER_ID</key>
	<string>291937214407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azam.dev.loginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-f2ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-f2ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291937214407:ios:860add210fda909d1c43e2</string>
</dict>
</plist>